@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #142535;
  --color-navy: #203751;
  --color-text-main: #142535;
  --color-text-muted: #475569;
  --color-accent-blue: #685cb2;
  --shadow-soft: 0px 10px 40px rgba(0, 0, 0, 0.08);
  --shadow-glow: 0px 10px 30px rgba(104, 92, 178, 0.2);
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-text-main font-sans antialiased transition-colors duration-300;
    background: #FFFFFF;
    min-height: 100vh;
  }
}